<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".ShoesApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nike"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.term_of_user.TermOfUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.settings.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.order_detail.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.checkout.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.product_detail.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.sign_up.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.sign_in.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.check_account.CheckAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.splash.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>